* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --spacing: 0.75rem;
  }
  
  body {
    font-family: sans-serif;
    background: $blue-medium;
    overflow: hidden;
  }