.register-page,
.login-page {
    background-color: white;
}

// --------------------------- Admin page styles --------------------- //@at-root

.user-list__name {
    font-weight: bold;
}

.admin__modal {
    color: white;
    background-color: hsla(0, 0%, 0%, 0.9);
    transition: transform 1s;
    transform-origin: center top; 
}

// --------------------------- Login styles ------------------------ //

.form-image {
    background-image: url($gainberri-logo);
    background-repeat: no-repeat;
    background-size: contain;
}

.mail__label,
.login__title,
.login__label {
    color: $blue-menu;
}

.mail__alert,
.login__alert {
    color: red;
}

.mail__button,
.login__button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: $blue-menu;

    &:hover {
        background-color: lighten($blue-menu, 5);
    }
}

// ------------------------------------------------------------------ //

.menu {
    background-color: $blue-menu;
}

.menu__item-img-1 {
    background-image: url($players-icon);
    background-size: contain;
}

.menu-admin__item {
    cursor: pointer;
}

[class*="menu__icon"]{
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__icon-save {
    background-image: url($icon-save);
}

.menu__icon-folder {
    background-image: url($icon-folder);
}

.menu__icon-edit {
    background-image: url($icon-edit);
}

.menu__icon-refresh {
    background-image: url($icon-refresh);
}

.menu__icon-undo {
    background-image: url($icon-undo);
}

.menu__icon-redo {
    background-image: url($icon-redo);
}

.menu__icon-players {
    background-image: url($icon-players);
}

.menu__icon-star {
    background-image: url($icon-star);
}

// ----------------------- Hidden menu styles --------------------- //

.hidden-menu {
    background-color: $blue-menu;
}

.hidden-menu__button {
    background-color: $hidden-menu-button;
}

.video-panel,
.strategy-panel,
.draw-panel,
.send-panel,
.mail-panel,
.config-panel,
.user-panel {
    background-color: hsla(0, 0%, 100%, 0.4);
    
    @media screen and (min-width: map-get($breakpoints, medium)){
        background-color: hsl(0, 0%, 100%);
    }
}

.menu-panel,
.players-panel,
.objects-panel {
    background-color: hsla(0, 0%, 100%, 0.4);
}

// ---------------------------------- Menu panel -------------------------------

.menu-panel__item {
    color: $blue-menu;
    cursor: pointer;
}

// -----------------------------------Draw panel --------------------------------


[class*="draw-panel__item-span-"],
.draw-panel__color-selector-title {
    color: $blue-menu;
}

@for $i from 1 to 13 {
    .draw-panel__color-selector-option-#{$i} {
        background-color: nth($draw-panel__color-selector, $i);
    }
}

.draw-panel__banner {
    background-image: url($hummel-banner);
    background-size: contain;
    background-repeat: no-repeat;
}

// -------------------------- Strategies panel ----------------------- //

.text-gray {
    color: #999;
}

// ------------------------ Players panel ------------------------- //

.players-panel__subtitle {
    color: $blue-menu;
}

.players-panel__item {
    cursor: pointer;
}

.players-panel__item:hover {
    background-color: $item-hover;
}

@for $i from 1 to 9 {
    .players-panel__item-blue-#{$i} {
        background-image: url(nth($players-blue, $i));
    }
    .players-panel__item-red-#{$i}{
        background-image: url(nth($players-red, $i));
    }
}

[class*="players-panel__item-blue"],
[class*="players-panel__item-red"]{
    background-size: contain;
    background-repeat: no-repeat;
}

// --------------------- Objects panel -------------------------- //@at-root

.objects-panel__subtitle {
    color: $blue-menu;
}

@for $i from 1 to 26 {
    .object-panel__item-image-#{$i} {
        background-image: url(nth($objects, $i));
    }
}

.object-panel__item:hover {
    background-color: $item-hover;
}

[class*="object-panel__item-image"]{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

// --------------- Config panel ------------------- //

.config-panel__button-1,
.config-panel__button-2 {
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    color: $blue-menu;
}

.config-panel__button-1:focus,
.config-panel__button-2:focus {
    background-color: transparent;
}

.config-panel__button::before {
    background-color: inherit;
    border: 1px solid transparent;
    border-left-color: $hidden-menu-button;
}

.config-panel__general,
.config-panel__teams {
    border: 1px solid $hidden-menu-button;
    border-radius: 30px;
    background-color: white;
}

.config-panel__subtitle {
    color: $blue-menu;
}

@for $i from 1 to 5 {
    .config-panel__item-image-#{$i} {
        background-image: url(nth($preview, $i));
    }
}

@for $i from 1 to 4 {
    .config-panel__item-image-color-#{$i} {
        background-image: url(nth($canvas-color, $i));
    }
}

[class*="config-panel__item-image"]{
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.config-panel__size-item {
    cursor: pointer;
}

// ------------------------ User panel ---------------------------

.user-panel__span,
.user-panel__subtitle {
    color: $blue-menu;
}